<style>
    .header-location {
        height: 35px;
        background-color: #009688;
        width: 100%;
        line-height: 33px;
        position: relative;
    }
    #location_reload {
        position: absolute;
        right: 10px;
        top: 6px;
        margin: 0;
    }
    #location_reload i{
        vertical-align: inherit;
        margin: 0;
    }
</style>
<blockquote class="header-location site-demo-button">
    <button id="location_reload" class="layui-btn layui-btn-mini layui-btn-primary" onclick="javascript:window.location.reload();"><i class="layui-icon">&#x1002;</i></button>
</blockquote>